body{
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

#gameCanvas {
    background: #fff;
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
}